.roche-main-container {
  background-color: #0e0707;
  height: 100%;
  min-height: 100vh;
  width: 100vw;

  .header-section {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 100%;
    // padding: 1.94rem 3.56rem 0 3.56rem;
    .deloitte-logo {
      height: 4.063rem;
      width: 7.223rem;
      cursor: pointer;
      margin-left: 4.19rem;
    }

    .header-name {
      color: #b9b9b9;
      font-size: 1.125rem;
      font-family: Open Sans;
      font-weight: 400;
      text-transform: uppercase;
      align-self: center;
      margin-left: 1.84rem;
      margin-top: 0.35rem;
      line-height: 1.563rem;
      width: 100%;
      cursor: pointer;
    }

    .header-left-box{
      display: flex;
      align-items: center;
      gap: 5%;
      width: 50%;

    }
    .header-icons {
      text-align: end;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 4%;

      .profile-modal {
        width: 100%;
        height: 14.5rem;
        /* background:; transparent; */
        color: #fff;
        font-family: Open Sans;
        z-index: 9;
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        // align-items: flex-start;
        // background-color: #000;
        top: 6%;
        left: -3%;

        .profile-container {
          height: 12rem;
          width: 24rem;
          background: rgba(#1b1b1b, 0.9);
          border-radius: 0.5rem;
          padding: 2rem;

          .first-row {
            height: 3.4375rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .profile-text {
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            .cross-icon {
              cursor: pointer;
            }
          }

          .second-row {
            height: 2.4375rem;
            width: 100%;
            display: flex;
            justify-content: flex-start;

            .user-name-text {
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

          .horizontal-line {
            height: 0.0625rem;
            width: 100%;
            background: rgba(255, 255, 255, 0.06);
          }

          .third-row {
            height: 3.5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .theme-text {
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              letter-spacing: -0.28px;
            }

            .theme-icons {
              width: 10rem;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .light-theme,
              .dark-theme {
                width: 4.7rem;
                height: 1.75rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 1.25rem;
                cursor: pointer;

                .light-text,
                .dark-text {
                  font-size: 0.75rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1.125rem;
                }
              }
            }
          }

          .fourth-row {
            height: 2.5rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .logout-text {
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              cursor: pointer;
            }

            .exit-icon {
              cursor: pointer;
            }
          }
        }
      }

      .icon {
        cursor: pointer;
      }
    }
  }
  

  .content-section {
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: space-evenly;

    .side-menu {
      height:100vh;
      width: 70%;
      background-color: #1b1b1b;
      border-radius: 0.625rem;
      color: white;
      font-family: Open Sans;
      z-index: 0;
      display: flex;
      flex-direction: column;
      position: relative;

      .side-menu-buttons-holder {
        height: 15%;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 11px;
        font-weight: 600;
        line-height: 15px;
        text-align: left;
      }

      .side-menu-button {
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: #01030d;
        transition: ease 0.25s all;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;
      }

      .button-disable {
        pointer-events: none;
      }

      .side-menu-button:hover {
        background-color: rgb(255, 255, 255, 0.1);
      }
      .side-menu-button span {
        padding-left: 4px;
        padding-right: 12px;
      }

      .data-source-holder {
        margin-top: 1rem;
        padding: 1.5rem;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;

        .heading {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          margin-left: 0.3rem;
          margin-bottom: 0.5rem;
        }
      }

      .data-souce-item {
        text-align: left;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #c7c7c7;
      }

      .data-souce-item input[type='radio'] {
        transform: scale(1);
        accent-color: #86bc25;
      }

      .data-souce-item span {
        padding: 10px;
        font-size: 12px;
      }
    }

    .chat-box {
      height: 100vh;
      width: 30%;
      border-radius: 0.625rem;

      .chat-message-box {
        height: 86.7%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .project-title {
          margin-top: 5%;
          margin-left: 8%;
          font-family: Open Sans;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem;
        }
        .roche-home {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          margin-top: 3%;

          .roche-sub-box {
            width: 23.5%;
            border-radius: 0.75rem;
            border: 1px solid #c0c3ce;
            display: flex;
            flex-direction: column;

            .logo-box {
              display: flex;
              flex-direction: column;
              width: 100%;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              height: 6.5rem;
              border-radius: 0.75rem;
              border: 1px solid #c0c3ce;

              .logo-text-style {
                font-family: Open Sans;

                font-size: 1.125rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.5rem;
              }

              .image-sizing {
                width: 1.5rem;
                height: 1.5rem;
              }
            }

            .up-arrow-box {
              width: 100%;
              height: 2.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .content-1 {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 15.75rem;
              // max-height: 15.75rem;
              overflow-y: hidden;
              align-items: center;
              -webkit-overflow-scrolling: touch;
              gap: 1rem;
            }
            .content-2 {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 15.75rem;
              // max-height: 15.75rem;
              overflow-y: hidden;
              align-items: center;
              -webkit-overflow-scrolling: touch;
              gap: 1rem;
            }
            .content {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 15.75rem;
              // max-height: 15.75rem;
              overflow-y: hidden;
              align-items: center;
              -webkit-overflow-scrolling: touch;
              gap: 1rem;
              // padding: 1rem;
            }
            .inside-text-1 {
              // min-height: 5rem;
              text-align: center;
              font-family: Open Sans;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.5rem;
            }
            .space-line {
              width: 4rem;
              height: 0.05rem;
              background-color: #dedede;
            }
            .down-arrow-box {
              width: 100%;
              height: 2.5rem;
              border-radius: 0rem 0rem 0.75rem 0.75rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        .chat-content-container {
          display: flex;
          align-items: center;
          flex-direction: column;
          overflow-y: auto;
        }
      }
    }
    .slice-box{
      display: flex;
      margin-left: 2%;
      width: 96%;
      justify-content: space-evenly;
    }
    .qstn-box{
      border: 1px solid #D3D3D3;
      margin-left: 2%;
      border-radius: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-align: center;
      min-height: 1.5rem;
    }
          .activeTab {
        padding: 0.5625rem 1.25rem;
        border-radius: 0.5rem;
        background: #444;
        text-align: center;
        // align-items: center;
        cursor: pointer;
      }
    .temp-box{
      position: absolute;
      z-index: 1;
      height: 8vh;
      width:70%;
      border: 1px solid #D3D3D3;
      background-color: #1B1B1B;
      border-radius: 12px;
      display: flex;
      color: #fff;
      margin-top: 66%;
      margin-left: 15%;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      align-items: center;

    }

    .regenerate-button-holder {
      display: flex;
      justify-content: center;

      .regenerate-button {
        padding: 12px;
        border: 1px solid #bfbfbe;
        border-radius: 8px;
        transition: ease 0.25s all;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
        user-select: none;
      }

      .regenerate-button span {
        padding-left: 4px;
        padding-right: 12px;
      }
    }

    .question-box {
      height: 13.3%;
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0px -2px 10px 0px rgba(164, 164, 164, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;

      .input-box {
        width: 86%;
        height: 45.83%;
        display: flex;
        align-items: flex-start;
        border-radius: 0.5rem;
        border: 1px solid #c0c3ce;
        padding-left: 1rem;
        padding-right: 1rem;

        .input-field-1 {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;

          .input-field__input-1 {
            // padding: 0.75rem;
            height: 100%;
            width: 97%;
            font-size: 1rem;
            outline: none;
            border: none;
            outline: none;
            background-color: transparent;
          }

          .input-field__button {
            height: 100%;
            width: 3%;
            margin-left: 1rem;
            font-size: 1rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: transparent;
          }
        }
      }
    }
  }
}
.button-white {
  color: white;
  border: 1px solid #5b5b5b;
  background: #1f1f1f;
  box-shadow: 0px 0px 12px 0px rgba(172, 172, 172, 0.3);
}
.white {
  background: #fff;
}
.white-2 {
  background: #f9f9f9;
}
.dark {
  background: #111;
}
.dark-2 {
  background: #212222;
}
.text-white {
  color: #fff;
}
.text-dark {
  color: #000;
}
.image-font {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

@media screen and (max-width: 1400px) {

  .roche-sub-box{
    transform: scale(1,0.7);
    margin-top: -5%;
    
  }
  }